# Copiar a secrets.yaml y rellenar

wifi_ssid: "tu_ssid"
wifi_password: "tu_password"

# api_key y ota_password son opcionales si se sigue la regla de no cifrar API/OTA.
# api_key: ""
# ota_password: ""
